@tailwind base;
@tailwind components;
@tailwind utilities;

.max-unset {
  max-width: unset;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

lite-youtube {
  max-width: none !important;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */

  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */

    scrollbar-color: #004eb3 #f7f7f7; /* thumb color and track color */
  }

  /* For Chrome, Edge, and Safari */
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f7f7f7;
    border-radius: 9999px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #004eb3;
    border-radius: 9999px;
    border: 2px solid #f7f7f7;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none !important;
    /* IE and Edge */
    scrollbar-width: none !important;
    /* Firefox */
  }
  .box-shadow {
    box-shadow: 0px 6px 8px rgba(131, 129, 129, 0.024),
      0px 12px 14px rgba(131, 129, 129, 0.03),
      0px 24px 28px rgba(131, 129, 129, 0.035),
      0px 80px 60px rgba(131, 129, 129, 0.05);
  }

  .gradient-bg-fill {
    background: linear-gradient(#fc542a33, #fc542a33) padding-box,
      linear-gradient(#000, #000) padding-box,
      linear-gradient(to right, #fc542a, #541c0e) border-box;
  }
}
.gradient-border {
  border: 1px solid transparent;
  border-radius: 66px;
  background: linear-gradient(transparent, transparent) padding-box,
    linear-gradient(to left, #dfab60, #dfab601a) border-box;
}
.gradient-bg-fill-new {
  background: linear-gradient(transparent, transparent) padding-box,
    linear-gradient(#171717, #171717) padding-box,
    linear-gradient(to left, #dfab60, #dfab601a) border-box;
}
.gradient-bg-fill-new-bg {
  background: linear-gradient(transparent, transparent) padding-box,
    linear-gradient(#000, #000) padding-box,
    linear-gradient(to left, #dfab60, #dfab601a) border-box;
}
.grey-gradient-border {
  border: 1px solid transparent;
  background: linear-gradient(transparent, transparent) padding-box,
    linear-gradient(to bottom right, #333333, #111111) border-box;
}
.grey-gradient-bg-fill-new {
  background: linear-gradient(transparent, transparent) padding-box,
    linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.01),
        rgba(255, 255, 255, 0.07)
      )
      padding-box,
    linear-gradient(to bottom right, #333333, #111111) border-box;
}

/* Mobile (default) */
.new-description p {
  padding-bottom: 1.25rem;
}

.new-description h3 {
  padding-bottom: 0.75rem;
  font-family: var(--font-merriweather);
  font-weight: 400;
  font-size: 1.325rem; /* mobile */
  line-height: 130%;
}

/* Tablet */
@media (min-width: 768px) {
  .new-description p {
    padding-bottom: 1.75rem;
  }

  .new-description h3 {
    font-size: 1.75rem;
    padding-bottom: 1rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .new-description p {
    padding-bottom: 2rem;
  }

  .new-description h3 {
    font-size: 2.25rem;
    line-height: 140%;
  }
}



html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important;
}
html,
body {
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}


